* {
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: #fafafa;
}


/* Navigation Bar */
button {
    cursor: pointer;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #2953ca;
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    letter-spacing: 0.11em;
}

.brand-title {
    height: 100%;
    color: #fff;
}

.brand-title a {
    padding: 0%;
    margin: 0%;
}

.brand-title ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.brand-title li {
    list-style: none;
    align-self: center;
}

.brand-title li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem 0 1rem 1rem;
}

#brandName a {
    font-size: 2.3rem;
}

#brandLogo img {
    max-width: 50px;
}

#brandLogo a {
    display: flex;
    align-items: center;
}

/* Hamburger menu icon */

.navbar-links img {
    display: block;
    height: 50px;
    width: 50px;
    padding: 0;
    margin-left: 20px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

.navbar-links li {
    list-style: none;
    align-self: center;
    margin: auto 10px auto 10px;
}

.navbar-links li button {
    padding: 0.7rem 1.3rem;
    border: none;
    background: #fff;
    color: #2953ca;
    font-family: 'Righteous', cursive;
    font-size: 1.2rem;
    letter-spacing: 0.11em;
}

.navbar-links li button:hover {
    background: #2953ca;
    color: #fff;
    outline: 3px solid #fff;
    outline-offset: -3px;
}

.navbar-links li button:active {
    background: #662C91;
}


/* Search Bar */

.searchForm input {
    width: 50%;
    height: 40px;
    padding: 25px;
    margin: 40px 0 30px 0;
    border: 3px solid #2953ca;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: left;
    font-size: 18px;
}


/* GIF Results */

.container {
    column-count: 5;
    margin: 0 30px 30px;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(41, 83, 202, 0.7);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 10px 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    height: 98.8%;
}

.content:hover .content-overlay {
    opacity: 1;
    margin: 10px 0;
}

.content-image {
    width: 100%;
    height: auto;
    margin: 0 0 10px;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.5em;
    text-transform: capitalize;
    font-family: 'Secular One', sans-serif;
}

.fadeIn {
    top: 50%;
}

.content-image {
    border: 2px solid #2953ca;
}

.content {
    margin: 0 auto 10px;
}

.content .content-overlay,
.content-image,
.content:hover .content-overlay {
    margin: 0;
}

footer {
    background: #2953ca;
    font-family: 'Righteous', cursive;
    color: #fff;
    padding: 20px 0;
}

footer i {
    font-size: 30px;
    margin-bottom: 5px;
}

p.description {
    margin-top: 10px;
}

a.github i {
    color: #fff;
}

a.github i:hover {
    color: #FFE601;
}

@media only screen and (max-width: 768px) {
    .container {
        column-count: 4;
    }

    .searchForm input {
        width: 90%;
    }

    #brandName a {
        font-size: 25px;
    }

    #brandLogo img {
        max-width: 30px;
    }

    .searchForm input {
        margin: 30px 0 30px 0;
    }

}

@media screen and (max-width: 425px) {
    .container {
        column-count: 3;
    }

    .brand-title li a {
        padding: 1rem 0 1rem 10px;
    }

    .container {
        margin: 15px 20px 30px;
    }

    .searchForm input {
        padding: 20px;
    }

    .brand-title ul {
        margin-left: 10px;
    }

    .searchForm input {
        margin: 20px 0 10px 0;
    }
}